@model IEnumerable<RecipeWebsite.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Welcome To GitGrub</h1>

@if (!User.Identity.IsAuthenticated)
{
    <h4 class="text-center">Sign in to Create Your Own Recipes and Add to Your Favorites List!</h4>
}
<table>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class=" mx-auto hover-card">
                <td>
                    <a asp-action="Details" asp-route-id="@item.RecipeId">
                        <div style="height: 100px; overflow: hidden">
                            <img src="@item.ImageUrl" alt="Recipe-Picture" width="100"/> 
                        </div>
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.RecipeId">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td asp-action="Details" asp-route-id="@item.RecipeId">
                    <a asp-action="Details" asp-route-id="@item.RecipeId">@Html.DisplayFor(modelItem => item.Description)</a>
                </td>
            </tr>
        }
    </tbody>
</table>