@using System.Data;

@model IEnumerable<RecipeWebsite.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Welcome To GitGrub</h1>

@if (!User.Identity.IsAuthenticated)
{
    <h4 class="text-center">--Sign in to Create Your Own Recipes and Add to Your Favorites List!--</h4>
}

<label>Sort By</label>
<select title="sort-dropdown" id="sorting" class="btn btn-secondary" onchange="sortRecipes()">
    <option value="Name">Name</option>
    <option value="Date">Newest</option>
    <option value="ReverseDate">Oldest</option>
    <option value="Category">Category</option>
    <option value="Rating">Rating</option>
</select>
<br />
<br />

@{
    //for sorting recipes in recipe table
    IEnumerable<Recipe> sortedRecipes = Model.OrderBy(a => a.Title);
}

<table id="show-recipes">
    <tbody>
        @foreach (var item in sortedRecipes)
        {
            <tr class=" mx-auto hover-card recipe-row" data-href="@Url.Action("Details", new { id = item.RecipeId })">
                <td>
                    <div style="height: 100px; overflow: hidden">
                        <img src="@item.ImageUrl" alt="Recipe-Picture" width="100"/> 
                    </div>
                </td>
                <td>
                    <h5 asp-action="Details" asp-route-id="@item.RecipeId">@Html.DisplayFor(modelItem => item.Title)</h5>
                </td>
                <td asp-action="Details" asp-route-id="@item.RecipeId">
                    <p asp-action="Details" asp-route-id="@item.RecipeId">@Html.DisplayFor(modelItem => item.Description)</p>
                </td>
            </tr> 
        }
    </tbody>
</table>

@section Scripts{
    <script>
        
        //handles the click of a row to navigate to recipe's detail page
        document.addEventListener("DOMContentLoaded", function () {
            const recipeRows = document.querySelectorAll(".recipe-row");
            recipeRows.forEach(recipeRow => {
                recipeRow.addEventListener("click", function () {
                    window.location = recipeRow.dataset.href;
                });
            });
        });
    </script>

    <script>
        function sortRecipes(){
            if ($('#sorting').val() == 'Name') {
                sortedRecipes = sortedRecipes.sort(a => a.Title);
                location.reload(true);
            }
        }
    </script>
}